{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<br><br><br><br><br><br><br><br>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center">
                    <h4 style='color:white'>Add Government Officer</h4>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="text" name="full_name" class="form-control" placeholder="Full Name" required>
                        </div>

                        <div class="mb-3">
                            <input type="email" name="email" class="form-control"
                                pattern="[a-z0-9._%+-]+@gmail\.(com|in)$"
                                placeholder="Email (gmail only)" required>
                        </div>

                        <div class="mb-3">
                            <input type="text" name="phone" class="form-control"
                                pattern="[0-9]{10}" maxlength="10"
                                placeholder="Phone (10 digits)" required>
                        </div>

                        <div class="mb-3">
                            <input type="text" name="department" class="form-control" placeholder="Department" required>
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>

                        <div class="mb-3">
                            <input type="file" name="image" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-success w-100">
                            Add Officer
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
