{% extends "admin_home.html" %}
{% block content %}
<br><br><br>
<h2>Add Blood Test</h2>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr><td>WBC:</td><td><input type="number" step="any" name="WBC" required></td></tr>
        <tr><td>RBC:</td><td><input type="number" step="any" name="RBC" required></td></tr>
        <tr><td>HGB:</td><td><input type="number" step="any" name="HGB" required></td></tr>
        <tr><td>PLT:</td><td><input type="number" step="any" name="PLT" required></td></tr>
        <tr><td>NEUT:</td><td><input type="number" step="any" name="NEUT" required></td></tr>
        <tr><td>LYMPH:</td><td><input type="number" step="any" name="LYMPH" required></td></tr>
        <tr><td>MONO:</td><td><input type="number" step="any" name="MONO" required></td></tr>
        <tr><td>EOS:</td><td><input type="number" step="any" name="EOS" required></td></tr>
        <tr><td>BASO:</td><td><input type="number" step="any" name="BASO" required></td></tr>
    </table>
    <button type="submit">Predict Disease</button>
</form>

{% if result %}
    <h3>Predicted Disease: {{ result.predicted_disease }}</h3>
    <a href="{% url 'download_pdf' result.id %}">Download PDF</a>
{% endif %}
{% endblock %}