venv/
env/
myenv/
.venv/
ENV/

__pycache__/
*.pyc
*.pyo

# Machine learning files
*.pkl
*.h5
*.keras
*.joblib
*.onnx
*.weights
*.csv
*.yml

# PDF files
*.pdf

# Django database
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store