{% extends "Doctor/common.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-6">
                {% for i in data%}
                <div class="card team border-0 rounded shadow overflow-hidden">
                    <div class="team-person position-relative overflow-hidden">
                        <img src="/static/assets/{{i.image}}" class="img-fluid" alt="">
                        <ul class="list-unstyled team-like">
                            <li><a  class="btn btn-icon btn-pills btn-soft-danger"><i data-feather="heart" class="icons"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <a href="#" class="title text-dark h5 d-block mb-0">{{i.name}}</a>
                        <small class="text-muted speciality">{{i.specialization}}</small>
                        {% comment %} <div class="d-flex justify-content-between align-items-center mt-2">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                            </ul>
                            <p class="text-muted mb-0">5 Star</p>
                        </div> {% endcomment %}
                        <ul class="list-unstyled mt-2 mb-0">
                            <li class="d-flex">
                                <i class="ri-map-pin-line text-primary align-middle"></i>
                                <small class="text-muted ms-2">{{i.address}}</small>
                            </li>
                            <li class="d-flex mt-2">
                                <i class="ri-time-line text-primary align-middle"></i>
                                <small class="text-muted ms-2">{{i.phone}}</small>
                            </li>
                            <li class="d-flex mt-2">
                                <i class="ri-money-dollar-circle-line text-primary align-middle"></i>
                                <small class="text-muted ms-2">{{i.medical_license_number}}</small>
                            </li>
                        </ul>
                        <a href="/update_DoctorProfile?id={{i.id}}" class="btn btn-outline-primary">Update</a>
                    </div>
                    {% endfor %}
                </div>
            </div><!--end col-->
        
            
           
            
           

            
          
           
            
      
        </div><!--end row-->
    </div><!--end container-->
</section>
{% endblock  %}