{% extends 'commonbase.html' %} {% block content %}
<style>
	td,
	th {
		padding: 10px;
	}
	table {
		margin: auto;
	}
</style>
<div style="margin: 100px">
	<form method="POST">
		{% csrf_token %}
		<h3 style="text-align: center">Doctor Registration</h3>
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" class="form-control" name="txtName" pattern="[a-zA-Z ]+" required></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><textarea class="form-control" name="txtAddress" required></textarea></td>
			</tr>
			<tr>
				<td>Contact</td>
				<td><input type="text" class="form-control" name="txtContact" pattern="[6789][0-9]{9}" maxlength="10" required>
				</td>
			</tr>
			<tr>
				<td>Qualification</td>
				<td><input type="text" class="form-control" name="txtQualification" required></td>
			</tr>
			<tr>
				<td>Specialization</td>
				<td><select class="form-control" name="txtSpecialization" required>
						<option value="General Practitioner">General Practitioner</option>
						<option value="Cardiologist">Cardiologist</option>
						<option value="Dermatologist">Dermatologist</option>
						<option value="Endocrinologist">Endocrinologist</option>
						<option value="Gastroenterologist">Gastroenterologist</option>
						<option value="Neurologist">Neurologist</option>
						<option value="Oncologist">Oncologist</option>
						<option value="Ophthalmologist">Ophthalmologist</option>
						<option value="Orthopedic Surgeon">Orthopedic Surgeon</option>
						<option value="Pediatrician">Pediatrician</option>
					</select></td>
			</tr>
			<tr>
				<td>Experience</td>
				<td><input type="text" class="form-control" name="txtExperience" required></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" class="form-control" name="txtEmail" required></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" class="form-control" name="txtPassword"
					pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class="btn btn-primary" style="color: white;" value="Register"></td>
			</tr>
		</table>
	</form>
</div>
<script>
	var msg = '{{msg}}';
	if (msg != '') alert(msg);
</script>
{% endblock %}
