{% extends 'common/base.html' %}

{% load static %}
{% block header %}

<!-- Contact -->
<div class="con-agile" style="min-height: 500px;">
    <div class="container">
        <h2>User</h2>
        <div class="contact-form">
                        
            <form method="post">
                {% csrf_token %}
                                    <div class="col-md-6 form-left">
                                        <input type="text" placeholder="Name" name="name" pattern="[a-z A-Z]+" required="">
                </div>
                                <div class="col-md-6 form-left">
                    <input type="text" placeholder="Address" name="address" required="">
                </div>
                                <div class="col-md-6 form-left">
                                    <input type="text" placeholder="Contact number" pattern="[0-9]{10}" maxlength="10" minlength="10" name="contact" required="">
                </div>
                <div class="col-md-6 form-left">
                    <input type="email" placeholder="Email" name="email" required="">
                </div>
                <div class="col-md-6 form-left">
                    <input type="text" placeholder="Password" name="password" required="">
                </div>
                <div class="clearfix"> </div>
                    <input type="submit" name="btnSubmit" value="SUBMIT" >
            </form>
        </div>
                    <div id="grid">
                   
                    </div> 
    </div>
    
</div>
<!-- //Contact -->

{% endblock %}