
{% extends "Dietician/common.html" %}
{% load static %}
{% block content %}

    <!-- Hero Section Start -->
    <div class="hero">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Hero Content Start -->
                    <div class="hero-content">
                        <!-- Section Title Start -->
                        <div class="section-title dark-section">
                            <h1 class="text-anime-style-2" data-cursor="-opaque">Your body can <span>stand almost</span> anything.</h1>
                            <p class="wow fadeInUp">It's your mind that needs convincing. Push past your limits, stay committed, and watch as your body transform into powerhouse of strength and resilience. Start your journey today & truly capable of!</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Hero Counter Box Start -->
                        <div class="hero-counter-box">                        
                            <!-- Hero Counter Item Start -->
                           
                            <!-- Hero Counter Item End -->

                            <!-- Hero Counter Item Start -->
                            
                            <!-- Hero Counter Item End -->

                            <!-- Hero Counter Item Start -->
                            
                            <!-- Hero Counter Item End -->
                        </div>
                        <!-- Hero Counter Box End -->       
                        
                        <!-- Hero Button Start -->
                        
                        <!-- Hero Button End -->
                    </div>
                    <!-- Hero Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Hero Image Start -->
                    <div class="hero-image">
                        <!-- Hero Img Start -->
                        <div class="hero-img">
                            <img src="{% static "images/hero-img.png" %}" alt="">
                        </div>
                        <!-- Hero Img End -->

                        <!-- Expertise Circle Start -->
                        
                        <!-- Expertise Circle End -->
                    </div>
                    <!-- Hero Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section End -->

    <!-- Scrolling Ticker Section Start -->
    
    <!-- Scrolling Ticker Section End -->

    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Images Start -->
                    <div class="about-us-images">
                        <!-- About Image 1 Start -->
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="{% static "images/about-img-1.jpg" %}" alt="">
                            </figure>     
                        </div>
                        <!-- About Image 1 End -->

                        <!-- About Image 2 Start -->
                                                <!-- About Image 2 End -->
                         
                        <!-- About Image 3 Start -->
                        <div class="about-img-3">
                            <figure class="image-anime reveal">
                                <img src="{% static "images/about-img-3.jpg" %}" alt="">
                            </figure>     
                        </div>
                        <!-- About Image 3 End -->
                    </div>
                    <!-- About Us Images End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <div class="section-bg-title wow fadeInUp">
                                <span>about us</span>
                            </div>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s">About us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Empowering you to achieve <span>your fitness</span> goals</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">We believe fitness is more than just a workout—it's a lifestyle. With top-of-the-line facilities, certified trainers, and a supportive community, we're here to inspire and guide you every step of the way.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Us Body Start -->
                        <div class="about-us-body wow fadeInUp" data-wow-delay="0.6s">
                            <!-- About Us Body Item Start -->
                            <div class="about-us-body-item">
                                <h3>Personal Trainer</h3>
                                <p>Achieve your fitness goals with the guidance of our certified trainers.</p>
                            </div>
                            <!-- About Us Body Item End -->
                             
                            <!-- About Us Body Item Start -->
                            <div class="about-us-body-item">
                                <h3>Cardio Programs</h3>
                                <p>From steady-state runs to interval sprints, our treadmill programs.</p>
                            </div>
                            <!-- About Us Body Item End -->

                            <!-- About Us Body Item Start -->
                            <div class="about-us-body-item">
                                <h3>Quality Equipment</h3>
                                <p>Our gym is equipped with the latest cardio & strength machines.</p>
                            </div>
                            <!-- About Us Body Item End -->

                            <!-- About Us Body Item Start -->
                            <div class="about-us-body-item">
                                <h3>Healthy Nutritions</h3>
                                <p>Fuel your fitness journey with customized meal plans for you.</p>
                            </div>
                            <!-- About Us Body Item End -->
                        </div>
                        <!-- About Us Body End -->

                        <!-- About Contact Button Start -->
                        
                        <!-- About Contact Button End -->                        
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Our Services Section Start -->
    <div class="our-services light-section">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <div class="section-bg-title wow fadeInUp">
                            <span>classes</span>
                        </div>
                        <h3 class="wow fadeInUp" data-wow-delay="0.2s">fitness class</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">Transform Your Body with Our <span>Dynamic Fitness</span> Classes</h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Services Slider Start -->
                    <div class="services-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Services Slide Start -->
                                <div class="swiper-slide">
                                    <!-- Service Item Start -->
                                    <div class="service-item">
                                        <!-- Service Image Start -->
                                        <div class="service-image">
                                            <a href="" data-cursor-text="View">
                                                <figure class="image-anime">
                                                    <img src="{% static "images/service-1.jpg" %}" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Service Image End -->

                                        <!-- Service Body Start -->
                                        <div class="service-body">
                                            <!-- Service Content Start -->
                                            <div class="service-content">
                                                <h3><a href="">group workout</a></h3>	
                                            </div>
                                            <!-- Service Content End -->

                                            <!-- Service Readmore Button Start -->
                                            
                                            <!-- Service Readmore Button End -->
                                        </div>
                                        <!-- Service Body End -->                 
                                    </div>
                                    <!-- Service Item End -->
                                </div>
                                <!-- Services Slide End -->

                                <!-- Services Slide Start -->
                                <div class="swiper-slide">
                                    <!-- Service Item Start -->
                                    <div class="service-item">
                                        <!-- Service Image Start -->
                                        <div class="service-image">
                                            <a href="" data-cursor-text="View">
                                                <figure class="image-anime">
                                                    <img src="{% static "images/service-2.jpg" %}" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Service Image End -->

                                        <!-- Service Body Start -->
                                        <div class="service-body">
                                            <!-- Service Content Start -->
                                            <div class="service-content">
                                                <h3><a href="">personal training</a></h3>	
                                            </div>
                                            <!-- Service Content End -->

                                            <!-- Service Readmore Button Start -->
                                            
                                            <!-- Service Readmore Button End -->
                                        </div>
                                        <!-- Service Body End -->                 
                                    </div>
                                    <!-- Service Item End -->
                                </div>
                                <!-- Services Slide End -->

                                <!-- Services Slide Start -->
                                <div class="swiper-slide">
                                    <!-- Service Item Start -->
                                    <div class="service-item">
                                        <!-- Service Image Start -->
                                        <div class="service-image">
                                            <a href="" data-cursor-text="View">
                                                <figure class="image-anime">
                                                    <img src="{% static "images/service-3.jpg" %}" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Service Image End -->

                                        <!-- Service Body Start -->
                                        <div class="service-body">
                                            <!-- Service Content Start -->
                                            <div class="service-content">
                                                <h3><a href="">muscle building</a></h3>	
                                            </div>
                                            <!-- Service Content End -->

                                            <!-- Service Readmore Button Start -->
                                            
                                            <!-- Service Readmore Button End -->
                                        </div>
                                        <!-- Service Body End -->                 
                                    </div>
                                    <!-- Service Item End -->
                                </div>
                                <!-- Services Slide End -->  
                                 
                                <!-- Services Slide Start -->
                                <div class="swiper-slide">
                                    <!-- Service Item Start -->
                                    <div class="service-item">
                                        <!-- Service Image Start -->
                                        <div class="service-image">
                                            <a href="" data-cursor-text="View">
                                                <figure class="image-anime">
                                                    <img src="{% static "images/service-4.jpg" %}" alt="">
                                                </figure>
                                            </a>
                                        </div>
                                        <!-- Service Image End -->

                                        <!-- Service Body Start -->
                                        <div class="service-body">
                                            <!-- Service Content Start -->
                                            <div class="service-content">
                                                <h3><a href="">Nutrition Plans</a></h3>	
                                            </div>
                                            <!-- Service Content End -->

                                            <!-- Service Readmore Button Start -->
                                            
                                            <!-- Service Readmore Button End -->
                                        </div>
                                        <!-- Service Body End -->                 
                                    </div>
                                    <!-- Service Item End -->
                                </div>
                                <!-- Services Slide End -->
                            </div>
                            <div class="services-pagination"></div>
                        </div>
                    </div>
                    <!-- Services Slider End -->
                </div>

                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.4s">
                        <p>Expert guidance for your fitness journey.<a href=""> Join us today and start transforming!</a></p>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Why Choose Content Start -->
                    <div class="why-choose-content">
                        <!-- Section Title Start -->
                        <div class="section-title section-title-center">
                            <div class="section-bg-title wow fadeInUp">
                                <span>why us</span>
                            </div>
                            <h3 class="wow fadeInUp" data-wow-delay="0.2s">why choose us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Elevate fitness with the <span>best way</span> possible</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">We offer a fitness journey that's tailored to your goals, supported by professional trainers and a welcoming community. Whether it's weight loss, strength building, or overall wellness, our proven methods.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Why Choose Steps Start -->
                        <div class="why-choose-steps">
                            <!-- Why Choose Step Item Start -->
                            <div class="why-choose-step-item wow fadeInUp">
                                <div class="why-choose-step-no">
                                    <h2>01</h2>
                                </div>
                                <div class="why-choose-step-content">
                                    <h3>personalized fitness plans</h3>
                                    <p>We tailor every workout to fit your unique goals and fitness level ensuring that you make the most progress.</p>
                                </div>
                            </div>
                            <!-- Why Choose Step Item End -->

                            <!-- Why Choose Step Item Start -->
                            <div class="why-choose-step-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="why-choose-step-no">
                                    <h2>02</h2>
                                </div>
                                <div class="why-choose-step-content">
                                    <h3>results-driven focus</h3>
                                    <p>Everything we do is designed to help you achieve measurable results, whether you're aiming for weight loss.</p>
                                </div>
                            </div>
                            <!-- Why Choose Step Item End -->

                            <!-- Why Choose Step Item Start -->
                            <div class="why-choose-step-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="why-choose-step-no">
                                    <h2>03</h2>
                                </div>
                                <div class="why-choose-step-content">
                                    <h3>state-of-the-art equipment</h3>
                                    <p>We provide the latest in gym equipment, from cardio machines to free weights, designed to support every type.</p>
                                </div>
                            </div>
                            <!-- Why Choose Step Item End -->
                        </div>
                        <!-- Why Choose Steps End -->
                    </div>
                    <!-- Why Choose Content End -->
                </div>
                <div class="col-lg-6">
                    <!-- Why Choose Image Start -->
                    <div class="why-choose-image">
                        <!-- Why Choose Img Box Start -->
                        <div class="why-choose-img-box-1">
                            <div class="why-choose-img-1">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/why-choose-image-1.jpg" %}" alt="">
                                </figure>
                            </div>

                            <div class="why-choose-img-2">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/why-choose-image-2.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Why Choose Img Box End -->

                        <!-- Why Choose Img Box Start -->
                        <div class="why-choose-img-box-2">
                            <div class="why-choose-img-3">
                                <figure class="image-anime reveal">
                                    <img src="{% static "images/why-choose-image-3.jpg" %}" alt="">
                                </figure>
                            </div>

                            <div class="why-choose-img-4">
                                <figure class="image-anime reveal   ">
                                    <img src="{% static "images/why-choose-image-4.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Why Choose Img Box End -->

                        <!-- Contact Now Circle Start -->
                        
                        <!-- Contact Now Circle End -->
                    </div>
                    <!-- Why Choose Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

   

{% endblock %}