{% extends "Dietician/common.html" %}
{% block content %}

<br><br><br><br>
<div class="container mt-5">
    <h2 class="text-center mb-4">Edit Profile</h2>

    <div class="card shadow p-4">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Full Name</label>
                <input type="text" name="fullname" class="form-control"
                       value="{{ dietician.fullname }}" required>
            </div>

            <div class="mb-3">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control"
                       value="{{ dietician.phone }}" minlength="10" maxlength="10" required>
            </div>

            <div class="mb-3">
                <label>Address</label>
                <textarea name="address" class="form-control" required>{{ dietician.address }}</textarea>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'dietician_profile' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
