{% extends 'index.html' %} {% block content %}

    
    

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Verify OTP</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <center>
                <div class="col-lg-7">
                    <form action="" method="post" class="" data-aos="fade-up" data-aos-delay="500">
                        {% csrf_token %}
                      <div class="row gy-4">
        
                      

                        <div class="col-md-12 ">
                          <input type="text" class="form-control" name="otp" placeholder="Enter OTP" required="">
                        </div>

        
                        <div class="col-md-12 text-center">

                          <button type="submit" class="btn btn-info">Verify OTP</button>
                        </div>
        
                      </div>
                    </form>
                  </div><!-- End Contact Form -->
        
            </center>
        </div>

      </div>

    </section><!-- /Contact Section -->
{% endblock %}