{% extends "admin/common.html" %}
{% load static %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">
            <h4 class="mb-0" style="color: aliceblue;">Emotion Prediction History</h4>
        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-bordered table-striped">

                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                       
                            <th>Input Text</th>
                            <th>Predicted Emotion</th>
                            <th>Date & Time</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for i in history %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.login.username }}</td>
                           
                            <td>{{ i.text }}</td>
                            <td>
                                <span class="badge bg-success">
                                    {{ i.predicted_emotion }}
                                </span>
                            </td>
                            <td>{{ i.created_at }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">
                                No Prediction History Found
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

<br><br><br>

{% endblock %}