{% extends "admin/common.html" %}
{% load static %}
{% block content %}

<div class="login-area py-120">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <div class="login-form">
                <div class="login-header">
                    <p>Edit Department</p>
                </div>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="text" name="name" value="{{ department.name }}" class="form-control mb-2" required>
                    <input type="text" name="code" value="{{ department.code }}" class="form-control mb-2" required>
                    <textarea name="description" class="form-control mb-2" required>{{ department.description }}</textarea>

                    {% if department.image %}
                        <div class="mb-3 text-center">
                            <img src="{{ department.image.url }}" width="120">
                        </div>
                    {% endif %}

                    <input type="file" name="image" class="form-control mb-3">

                    <button class="theme-btn w-100">Update</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
