{% extends "common.html" %}
{% load static %}

{% block content %}
<div class="hero-gold bg-section">
        <!-- Hero Box Start -->
        <div class="hero-box-gold">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Hero Content Start -->
                        <div class="hero-content-gold">                            
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h3 class="wow fadeInUp">Healthy Farms, Healthy Lives</h3>
                                <h1 class="text-anime-style-3" data-cursor="-opaque">Growing pure organic goodness for a healthier tomorrow</h1>
                                <p class="wow fadeInUp" data-wow-delay="0.2s">Discover the true taste of nature with our farm-fresh, chemical-free, and sustainably grown produce. From nutrient-rich vegetables to naturally ripened fruits,</p>
                            </div>
                            <!-- Section Title End -->
    
                            <!-- Hero Button Start -->
                            <div class="hero-btn-gold wow fadeInUp" data-wow-delay="0.4s">
                                <a href="contact.html" class="btn-default btn-highlighted">Visit Our Farm</a>
                                <a href="services.html" class="btn-default">View Our Services</a>
                            </div>
                            <!-- Hero Button End -->
                        </div>
                        <!-- Hero Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Box End -->

        <!-- Hero Images Start -->
        <div class="hero-image-box-gold wow fadeInUp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-image-title-gold">
                            <h2>Soilux</h2>
                        </div>
                        <div class="hero-image-gold">
                            <figure>
                                <img src="{% static "images/hero-image-gold.png" %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Image End -->
    </div>
     <!-- Why Choose Us Section Start -->
    <div class="why-choose-us-gold">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <!-- Why Choose Images Start -->
                    <div class="why-choose-images-gold">
                        <!-- Why Choose Image 1 Start -->
                        <div class="why-choose-image-1-gold">
                            <figure class="image-anime">
                                <img src="{% static "images/why-choose-image-1-gold.jpg" %}" alt="">
                            </figure>
                        </div>
                        <!-- Why Choose Image 1 Start -->

                        <!-- Why Choose Image 2 Start -->
                        <div class="why-choose-image-2-gold">
                            <figure>
                                <img src="{% static "images/why-choose-image-2-gold.jpg" %}" alt="">
                            </figure>
                        </div>
                        <!-- Why Choose Image 2 Start -->

                        <!-- Why Choose Counter Box Start -->
                        <div class="why-choose-counter-box-gold">
                            <div class="why-choose-counter-body-gold">
                                <div class="icon-box">
                                    <img src="{% static "images/icon-why-choose-counter-box.svg" %}" alt="">
                                </div>
                                <div class="why-choose-counter-content-gold">
                                    <h2><span class="counter">20</span>+</h2>
                                    <p>Years of Farming Experience</p>
                                </div>
                            </div>
                        </div>
                        <!-- Why Choose Counter Box End -->
                    </div>
                    <!-- Why Choose Images End -->
                </div>

                <div class="col-xl-6">
                    <!-- Why Choose Us Content Start -->
                    <div class="why-choose-us-content-gold">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Why Choose Us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Healthy food choices start with our organic farming</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">We are committed to delivering pure, organic, and sustainably grown produce that nurtures your health and protects the environment. Our farming practices are completely chemical-free,</p>
                        </div>
                        <!-- Section Title End -->
                        
                        <!-- Why Choose Item List Start -->
                        <div class="why-choose-item-list-gold wow fadeInUp" data-wow-delay="0.4s">
                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item-gold">
                                <div class="icon-box">
                                    <img src="{% static "images/icon-why-choose-item-1-gold.svg" %}" alt="">
                                </div>
                                <div class="why-choose-item-content-gold">
                                    <h3>100% Pure & Organic Produce</h3>
                                </div>
                            </div>
                            <!-- Why Choose Body Item End -->

                            <!-- Why Choose Item Start -->
                            <div class="why-choose-item-gold">
                                <div class="icon-box">
                                    <img src="{% static "images/icon-why-choose-item-2-gold.svg" %}" alt="">
                                </div>
                                <div class="why-choose-item-content-gold">
                                    <h3>Sustainable Farming Practices</h3>
                                </div>
                            </div>
                            <!-- Why Choose Body Item End -->
                        </div>
                        <!-- Why Choose Item List End -->

                        <!-- Why Choose Progress List Start -->
                        <div class="why-choose-progress-list-gold">
                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar-gold">
                                <!-- Skill Item Start -->
                                <div class="skillbar-gold" data-percent="75%">
                                    <div class="skill-data-gold">
                                        <div class="skill-title-gold">Quality Tested</div>
                                        <div class="skill-no-gold">75%</div>
                                    </div>
                                    <div class="skill-progress-gold">
                                        <div class="count-bar-gold"></div>
                                    </div>
                                </div>
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar-gold">
                                <!-- Skill Item Start -->
                                <div class="skillbar-gold" data-percent="90%">
                                    <div class="skill-data-gold">
                                        <div class="skill-title-gold">Passionate Farmers</div>
                                        <div class="skill-no-gold">90%</div>
                                    </div>
                                    <div class="skill-progress-gold">
                                        <div class="count-bar-gold"></div>
                                    </div>
                                </div>
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- Why Choose Progress List End -->

                        <!-- Why Choose Footer Start -->
                        <div class="why-choose-footer-gold wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Why Choose Button Start -->
                            <div class="why-choose-btn-gold">
                                <a href="contact.html" class="btn-default">Get in Touch</a>
                            </div>
                            <!-- Why Choose Button End -->

                            <!-- Why Choose Author Box Start -->
                            <div class="why-choose-author-box-gold">
                                <div class="author-image">
                                    <figure class="image-anime">
                                        <img src="{% static "images/author-1.jpg" %}" alt="">
                                    </figure>
                                </div>
                                <div class="why-choose-author-content-gold">
                                    <h3>Ralph Edwards</h3>
                                    <p>Agronomist</p>
                                </div>
                            </div>
                            <!-- Why Choose Author Box End -->
                        </div>
                        <!-- Why Choose Footer End -->
                    </div>
                    <!-- Why Choose Us Content End -->
                </div>
            </div>
        </div>
    </div>
<div class="how-it-works-gold">
        <div class="container">
            <div class="row section-row">              
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title section-title-center">
                        <h3 class="wow fadeInUp">How it Work</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Discover how our eco-friendly farming system works</h2>
                    </div>
                    <!-- Section Title End -->                
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- How Works Item Start -->
                    <div class="how-works-item-gold box-1 wow fadeInUp">
                        <div class="how-works-item-header-gold">
                            <div class="how-works-item-no-gold">
                                <h2>01</h2>
                            </div>
                            <div class="how-works-item-image-gold">
                                <figure>
                                    <img src="{% static "images/how-works-item-image-1-gold.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="how-works-item-content-gold">
                            <h3>We Grow Everything</h3>
                            <p>Our crops are cultivated using natural fertilizers, compost, and eco-friendly methods that protect soil</p>
                        </div>
                    </div>
                    <!-- How Works Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- How Works Item Start -->
                    <div class="how-works-item-gold box-2 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="how-works-item-header-gold">
                            <div class="how-works-item-no-gold">
                                <h2>02</h2>
                            </div>
                            <div class="how-works-item-image-gold">
                                <figure>
                                    <img src="{% static "images/how-works-item-image-2-gold.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="how-works-item-content-gold">
                            <h3>Harvested at the Right Time</h3>
                            <p>Every fruit, vegetable, and herb is harvested at peak ripeness to maintain maximum nutrition,</p>
                        </div>
                    </div>
                    <!-- How Works Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- How Works Item Start -->
                    <div class="how-works-item-gold box-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="how-works-item-header-gold">
                            <div class="how-works-item-no-gold">
                                <h2>03</h2>
                            </div>
                            <div class="how-works-item-image-gold">
                                <figure>
                                    <img src="{% static "images/how-works-item-image-3-gold.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="how-works-item-content-gold">
                            <h3>Quality Checked</h3>
                            <p>Each batch goes through strict quality checks before being packed in eco-friendly materials to keep it fresh</p>
                        </div>
                    </div>
                    <!-- How Works Item End -->
                </div>

                <div class="col-xl-3 col-md-6">
                    <!-- How Works Item Start -->
                    <div class="how-works-item-gold box-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="how-works-item-header-gold">
                            <div class="how-works-item-no-gold">
                                <h2>04</h2>
                            </div>
                            <div class="how-works-item-image-gold">
                                <figure>
                                    <img src="{% static "images/how-works-item-image-4-gold.jpg" %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="how-works-item-content-gold">
                            <h3>Direct Delivery</h3>
                            <p>Once packed, your organic produce is delivered straight to your home, ensuring you get farm-fresh food</p>
                        </div>
                    </div>
                    <!-- How Works Item End -->
                </div>
                
                <div class="col-lg-12">
                    <!-- Section Footer Text Start -->
                    <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                        <p><span>Free</span>Where Nature Meets Quality - <a href="contact.html">Discover Our Organic Farming Services!</a></p>
                        <ul>
                            <li><span class="counter">4.9</span>/5</li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>Our 4200 Review</li>
                        </ul>
                    </div>
                    <!-- Section Footer Text End -->
                </div>
            </div>
        </div>
    </div>
    <!-- How It Works Section End -->
{% endblock %}